<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huidie_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,420},{62,66}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,32},{62,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>huidie_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,78},{50,110}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,10},{50,110}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>huidie_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{40,126}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,2},{40,126}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>huidie_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{40,126}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,2},{40,126}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>huidie_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{40,128}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,1},{40,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>huidie_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{40,128}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,1},{40,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>huidie_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{44,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,1},{44,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>huidie_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{44,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,1},{44,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>huidie_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,130}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{62,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>huidie_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,130}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{62,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>huidie_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{74,114}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,8},{74,114}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>huidie_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,420},{62,66}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,32},{62,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>huidie_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{74,114}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,8},{74,114}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>huidie_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{80,106}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,12},{80,106}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>huidie_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{80,106}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,12},{80,106}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>huidie_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,130},{76,108}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,11},{76,108}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>huidie_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,130},{76,108}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,11},{76,108}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>huidie_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,336},{74,86}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,22},{74,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>huidie_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,336},{74,86}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,22},{74,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>huidie_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{74,82}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,24},{74,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>huidie_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{74,82}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,24},{74,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>huidie_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,336},{66,80}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,25},{66,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>huidie_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{64,90}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,20},{64,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>huidie_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,336},{66,80}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,25},{66,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>huidie_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{66,74}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,28},{66,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>huidie_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{66,74}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,28},{66,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>huidie_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{64,90}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,20},{64,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>huidie_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,276},{58,106}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,12},{58,106}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>huidie_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,276},{58,106}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,12},{58,106}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>huidie_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,208},{66,106}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,12},{66,106}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>huidie_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,208},{66,106}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,12},{66,106}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>huidie_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,78},{50,110}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,10},{50,110}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buterflys.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2996fed2475b610e846e3733d2e16cbf:4115c5e6b2bf7a3d3641a18e0fe515c4:57fb514fb11e718623e95b2746ee38e4$</string>
            <key>textureFileName</key>
            <string>buterflys.png</string>
        </dict>
    </dict>
</plist>
