<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zihudie_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{40,40}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{40,40}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>zihudie_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,86},{38,38}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{38,38}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>zihudie_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{38,36}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{38,36}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>zihudie_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,42},{36,34}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,11},{36,34}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>zihudie_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,80},{34,32}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{34,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>zihudie_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,42},{36,34}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,11},{36,34}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>zihudie_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{38,36}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{38,36}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>zihudie_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{38,38}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{38,38}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>zihudie_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,40}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{40,40}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>headfly.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d064e6e578c5dd082c0506fa996d2d7:de99e8ff16a361e38c5219e4efd54a18:443e3dba75bbbcea2036ec59464091e2$</string>
            <key>textureFileName</key>
            <string>headfly.png</string>
        </dict>
    </dict>
</plist>
