<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>honghudie_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{25,29}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{25,29}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>honghudie_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{25,27}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{25,27}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>honghudie_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{25,27}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{25,27}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>honghudie_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{23,25}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{23,25}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>honghudie_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{23,25}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{23,25}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>honghudie_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{23,25}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{23,25}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>honghudie_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,29},{25,27}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{25,27}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>honghudie_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{25,27}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{25,27}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>honghudie_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{25,29}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{25,29}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tanchaunghudie.png</string>
            <key>size</key>
            <string>{32,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7dba7ddc4be43f9f8e867ff2aa59914e:d650a6d1673e9d55f9cde910a29fcfc3:a3fc68b738ca08b2022ed16f12793a46$</string>
            <key>textureFileName</key>
            <string>tanchaunghudie.png</string>
        </dict>
    </dict>
</plist>
