<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>info_n_send_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,1209},{61,58}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{61,58}}</string>
                <key>sourceSize</key>
                <string>{67,60}</string>
            </dict>
            <key>info_n_send_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1194},{140,141}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,5},{140,141}}</string>
                <key>sourceSize</key>
                <string>{176,155}</string>
            </dict>
            <key>info_n_send_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1336},{144,141}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{144,141}}</string>
                <key>sourceSize</key>
                <string>{176,155}</string>
            </dict>
            <key>info_n_send_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,571},{170,129}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{170,129}}</string>
                <key>sourceSize</key>
                <string>{176,155}</string>
            </dict>
            <key>info_n_send_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,1775},{122,117}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,15},{122,117}}</string>
                <key>sourceSize</key>
                <string>{176,155}</string>
            </dict>
            <key>info_n_send_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,1856},{104,103}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,29},{104,103}}</string>
                <key>sourceSize</key>
                <string>{176,155}</string>
            </dict>
            <key>info_n_send_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1894},{102,103}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,29},{102,103}}</string>
                <key>sourceSize</key>
                <string>{176,155}</string>
            </dict>
            <key>info_n_send_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,1883},{102,103}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,29},{102,103}}</string>
                <key>sourceSize</key>
                <string>{176,155}</string>
            </dict>
            <key>info_n_send_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,872},{150,143}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,5},{150,143}}</string>
                <key>sourceSize</key>
                <string>{176,155}</string>
            </dict>
            <key>info_n_send_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1336},{156,145}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{156,145}}</string>
                <key>sourceSize</key>
                <string>{176,155}</string>
            </dict>
            <key>info_n_send_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,702},{158,147}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{158,147}}</string>
                <key>sourceSize</key>
                <string>{176,155}</string>
            </dict>
            <key>info_n_send_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,1194},{162,139}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{162,139}}</string>
                <key>sourceSize</key>
                <string>{176,155}</string>
            </dict>
            <key>info_n_send_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,862},{162,141}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{162,141}}</string>
                <key>sourceSize</key>
                <string>{176,155}</string>
            </dict>
            <key>info_n_send_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,428},{166,141}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{166,141}}</string>
                <key>sourceSize</key>
                <string>{176,155}</string>
            </dict>
            <key>info_n_send_0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1026},{166,141}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{166,141}}</string>
                <key>sourceSize</key>
                <string>{176,155}</string>
            </dict>
            <key>info_n_send_0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,1026},{168,137}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{168,137}}</string>
                <key>sourceSize</key>
                <string>{176,155}</string>
            </dict>
            <key>info_n_send_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,1961},{70,70}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,82}</string>
            </dict>
            <key>info_n_send_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,862},{70,66}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,118},{70,66}}</string>
                <key>sourceSize</key>
                <string>{240,280}</string>
            </dict>
            <key>info_n_send_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,699},{72,26}}</string>
                <key>offset</key>
                <string>{-2,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,157},{72,26}}</string>
                <key>sourceSize</key>
                <string>{240,280}</string>
            </dict>
            <key>info_n_send_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,906},{180,150}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,67},{180,150}}</string>
                <key>sourceSize</key>
                <string>{240,280}</string>
            </dict>
            <key>info_n_send_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,154},{180,158}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,59},{180,158}}</string>
                <key>sourceSize</key>
                <string>{240,280}</string>
            </dict>
            <key>info_n_send_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1834},{188,156}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,61},{188,156}}</string>
                <key>sourceSize</key>
                <string>{240,280}</string>
            </dict>
            <key>info_n_send_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1449},{192,156}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,61},{192,156}}</string>
                <key>sourceSize</key>
                <string>{240,280}</string>
            </dict>
            <key>info_n_send_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,934},{88,56}}</string>
                <key>offset</key>
                <string>{2,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,133},{88,56}}</string>
                <key>sourceSize</key>
                <string>{240,280}</string>
            </dict>
            <key>info_n_send_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,331},{184,150}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,67},{184,150}}</string>
                <key>sourceSize</key>
                <string>{240,280}</string>
            </dict>
            <key>info_n_send_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{188,150}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,67},{188,150}}</string>
                <key>sourceSize</key>
                <string>{240,280}</string>
            </dict>
            <key>info_n_send_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,720},{184,150}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,67},{184,150}}</string>
                <key>sourceSize</key>
                <string>{240,280}</string>
            </dict>
            <key>info_n_send_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,534},{184,150}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,67},{184,150}}</string>
                <key>sourceSize</key>
                <string>{240,280}</string>
            </dict>
            <key>info_n_send_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,348},{184,150}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,67},{184,150}}</string>
                <key>sourceSize</key>
                <string>{240,280}</string>
            </dict>
            <key>info_n_send_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{188,150}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,67},{188,150}}</string>
                <key>sourceSize</key>
                <string>{240,280}</string>
            </dict>
            <key>info_n_send_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{184,150}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,67},{184,150}}</string>
                <key>sourceSize</key>
                <string>{240,280}</string>
            </dict>
            <key>info_n_send_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,1272},{54,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{54,66}}</string>
                <key>sourceSize</key>
                <string>{54,68}</string>
            </dict>
            <key>info_n_send_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,1961},{60,60}}</string>
                <key>offset</key>
                <string>{0,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,25},{60,60}}</string>
                <key>sourceSize</key>
                <string>{168,176}</string>
            </dict>
            <key>info_n_send_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,861},{78,68}}</string>
                <key>offset</key>
                <string>{1,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,13},{78,68}}</string>
                <key>sourceSize</key>
                <string>{168,176}</string>
            </dict>
            <key>info_n_send_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,154},{156,92}}</string>
                <key>offset</key>
                <string>{-4,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{156,92}}</string>
                <key>sourceSize</key>
                <string>{168,176}</string>
            </dict>
            <key>info_n_send_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,702},{168,110}}</string>
                <key>offset</key>
                <string>{0,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,110}}</string>
                <key>sourceSize</key>
                <string>{168,176}</string>
            </dict>
            <key>info_n_send_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,1024},{168,116}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{168,116}}</string>
                <key>sourceSize</key>
                <string>{168,176}</string>
            </dict>
            <key>info_n_send_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,2},{168,138}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{168,138}}</string>
                <key>sourceSize</key>
                <string>{168,176}</string>
            </dict>
            <key>info_n_send_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,692},{168,156}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{168,156}}</string>
                <key>sourceSize</key>
                <string>{168,176}</string>
            </dict>
            <key>info_n_send_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,1358},{130,164}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,12},{130,164}}</string>
                <key>sourceSize</key>
                <string>{168,176}</string>
            </dict>
            <key>info_n_send_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,1224},{110,126}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,14},{110,126}}</string>
                <key>sourceSize</key>
                <string>{168,176}</string>
            </dict>
            <key>info_n_send_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,1943},{83,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,79}}</string>
                <key>sourceSize</key>
                <string>{83,79}</string>
            </dict>
            <key>info_n_send_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,1733},{117,111}}</string>
                <key>offset</key>
                <string>{18,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,46},{117,111}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>info_n_send_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,1358},{115,147}}</string>
                <key>offset</key>
                <string>{2,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,17},{115,147}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>info_n_send_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{181,177}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,30},{181,177}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>info_n_send_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{181,181}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,28},{181,181}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>info_n_send_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,154},{175,175}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,35},{175,175}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>info_n_send_3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,1088},{175,163}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,34},{175,163}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>info_n_send_3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,1265},{175,161}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,35},{175,161}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>info_n_send_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,312},{145,137}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,54},{145,137}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>info_n_send_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,517},{173,163}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,38},{173,163}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>info_n_send_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1643},{189,159}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,41},{189,159}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>info_n_send_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1266},{171,181}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,27},{171,181}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>info_n_send_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1081},{171,183}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,26},{171,183}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>info_n_send_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{175,193}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{175,193}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>info_n_send_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,353},{179,185}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,26},{179,185}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>info_n_send_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,723},{181,177}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,30},{181,177}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>info_n_send_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,1142},{65,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,11},{65,58}}</string>
                <key>sourceSize</key>
                <string>{97,82}</string>
            </dict>
            <key>info_n_send_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,1142},{39,38}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,21},{39,38}}</string>
                <key>sourceSize</key>
                <string>{97,82}</string>
            </dict>
            <key>info_n_send_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,1757},{124,102}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,13},{124,102}}</string>
                <key>sourceSize</key>
                <string>{140,120}</string>
            </dict>
            <key>info_n_send_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,1623},{134,108}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{134,108}}</string>
                <key>sourceSize</key>
                <string>{140,120}</string>
            </dict>
            <key>info_n_send_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,1507},{138,114}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{138,114}}</string>
                <key>sourceSize</key>
                <string>{140,120}</string>
            </dict>
            <key>info_n_send_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1490},{138,112}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{138,112}}</string>
                <key>sourceSize</key>
                <string>{140,120}</string>
            </dict>
            <key>info_n_send_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,593},{126,104}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{126,104}}</string>
                <key>sourceSize</key>
                <string>{140,120}</string>
            </dict>
            <key>info_n_send_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,1757},{134,110}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{134,110}}</string>
                <key>sourceSize</key>
                <string>{140,120}</string>
            </dict>
            <key>info_n_send_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1483},{138,114}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{138,114}}</string>
                <key>sourceSize</key>
                <string>{140,120}</string>
            </dict>
            <key>info_n_send_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,1196},{138,114}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{138,114}}</string>
                <key>sourceSize</key>
                <string>{140,120}</string>
            </dict>
            <key>info_n_send_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,1961},{61,56}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,12},{61,56}}</string>
                <key>sourceSize</key>
                <string>{97,82}</string>
            </dict>
            <key>info_n_send_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,1846},{95,82}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{95,82}}</string>
                <key>sourceSize</key>
                <string>{97,82}</string>
            </dict>
            <key>info_n_send_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,941},{81,70}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{81,70}}</string>
                <key>sourceSize</key>
                <string>{97,82}</string>
            </dict>
            <key>info_n_send_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,1142},{65,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,11},{65,58}}</string>
                <key>sourceSize</key>
                <string>{97,82}</string>
            </dict>
            <key>info_n_send_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,312},{83,72}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{83,72}}</string>
                <key>sourceSize</key>
                <string>{97,82}</string>
            </dict>
            <key>info_n_send_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,783},{77,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{77,66}}</string>
                <key>sourceSize</key>
                <string>{97,82}</string>
            </dict>
            <key>info_n_send_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,1869},{108,90}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,22},{108,90}}</string>
                <key>sourceSize</key>
                <string>{140,120}</string>
            </dict>
            <key>info_n_send_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,1024},{116,96}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,18},{116,96}}</string>
                <key>sourceSize</key>
                <string>{140,120}</string>
            </dict>
            <key>info_n_send_5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,386},{46,66}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{46,66}}</string>
                <key>sourceSize</key>
                <string>{52,70}</string>
            </dict>
            <key>info_n_send_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,1026},{196,78}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,76},{196,78}}</string>
                <key>sourceSize</key>
                <string>{196,176}</string>
            </dict>
            <key>info_n_send_5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,1483},{110,80}}</string>
                <key>offset</key>
                <string>{-5,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,20},{110,80}}</string>
                <key>sourceSize</key>
                <string>{196,176}</string>
            </dict>
            <key>info_n_send_5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,559},{106,86}}</string>
                <key>offset</key>
                <string>{-5,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,20},{106,86}}</string>
                <key>sourceSize</key>
                <string>{196,176}</string>
            </dict>
            <key>info_n_send_5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,1604},{108,80}}</string>
                <key>offset</key>
                <string>{-5,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,22},{108,80}}</string>
                <key>sourceSize</key>
                <string>{196,176}</string>
            </dict>
            <key>info_n_send_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,459},{106,98}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,53},{106,98}}</string>
                <key>sourceSize</key>
                <string>{196,176}</string>
            </dict>
            <key>info_n_send_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,1846},{102,102}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,43},{102,102}}</string>
                <key>sourceSize</key>
                <string>{196,176}</string>
            </dict>
            <key>info_n_send_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,1734},{120,114}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,32},{120,114}}</string>
                <key>sourceSize</key>
                <string>{196,176}</string>
            </dict>
            <key>info_n_send_5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,647},{134,124}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,25},{134,124}}</string>
                <key>sourceSize</key>
                <string>{196,176}</string>
            </dict>
            <key>info_n_send_5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,459},{144,132}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,20},{144,132}}</string>
                <key>sourceSize</key>
                <string>{196,176}</string>
            </dict>
            <key>info_n_send_5_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,862},{162,162}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{162,162}}</string>
                <key>sourceSize</key>
                <string>{196,176}</string>
            </dict>
            <key>info_n_send_5_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,1733},{94,74}}</string>
                <key>offset</key>
                <string>{-5,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,26},{94,74}}</string>
                <key>sourceSize</key>
                <string>{196,176}</string>
            </dict>
            <key>info_n_send_5_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,783},{102,76}}</string>
                <key>offset</key>
                <string>{-6,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,24},{102,76}}</string>
                <key>sourceSize</key>
                <string>{196,176}</string>
            </dict>
            <key>info_n_send_6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,1950},{80,77}}</string>
                <key>offset</key>
                <string>{-21,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,22},{80,77}}</string>
                <key>sourceSize</key>
                <string>{150,143}</string>
            </dict>
            <key>info_n_send_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,172},{138,152}}</string>
                <key>offset</key>
                <string>{-15,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,2},{138,152}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>info_n_send_6_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,314},{112,178}}</string>
                <key>offset</key>
                <string>{-14,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,32},{112,178}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>info_n_send_6_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1894},{112,128}}</string>
                <key>offset</key>
                <string>{-14,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,32},{112,128}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>info_n_send_6_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,1743},{112,124}}</string>
                <key>offset</key>
                <string>{-14,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,31},{112,124}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>info_n_send_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,158},{188,140}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,17},{188,140}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>info_n_send_6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,154}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{218,154}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>info_n_send_6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,1604},{124,128}}</string>
                <key>offset</key>
                <string>{-20,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,28},{124,128}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>info_n_send_6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1479},{140,126}}</string>
                <key>offset</key>
                <string>{-22,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,32},{140,126}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>info_n_send_6_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,1599},{140,142}}</string>
                <key>offset</key>
                <string>{-22,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,31},{140,142}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>info_n_send_6_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,1607},{140,148}}</string>
                <key>offset</key>
                <string>{-22,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,32},{140,148}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>info_n_send_6_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,1617},{112,156}}</string>
                <key>offset</key>
                <string>{-14,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,32},{112,156}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>info_n_send_6_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1449},{112,166}}</string>
                <key>offset</key>
                <string>{-14,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,31},{112,166}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>emj.png</string>
            <key>size</key>
            <string>{928,2033}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c96cc4590d0299383dcd576325e8aa55$</string>
            <key>textureFileName</key>
            <string>emj.png</string>
        </dict>
    </dict>
</plist>
