<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>A_Home/Main/bg_yuanbao.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,954},{210,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,40}</string>
			</dict>
			<key>A_Home/Main/chjfj.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,401},{350,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,133}</string>
			</dict>
			<key>A_Home/Main/daili.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,2},{72,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>A_Home/Main/daili_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,211},{72,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>A_Home/Main/email.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,954},{117,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,61}</string>
			</dict>
			<key>A_Home/Main/girl.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,664},{286,567}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{286,567}</string>
			</dict>
			<key>A_Home/Main/gonggao_copy.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,603},{99,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,44}</string>
			</dict>
			<key>A_Home/Main/help.png</key>
			<dict>
				<key>frame</key>
				<string>{{539,954},{117,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,61}</string>
			</dict>
			<key>A_Home/Main/hongdian-home.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,305},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>A_Home/Main/jrfj.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,654},{350,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,133}</string>
			</dict>
			<key>A_Home/Main/kefu.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,538},{117,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,61}</string>
			</dict>
			<key>A_Home/Main/lvse_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,998},{166,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,21}</string>
			</dict>
			<key>A_Home/Main/qyq.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,2},{292,395}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{292,395}</string>
			</dict>
			<key>A_Home/Main/setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,928},{117,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,61}</string>
			</dict>
			<key>A_Home/Main/shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,538},{244,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,112}</string>
			</dict>
			<key>A_Home/Main/ylch.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,791},{350,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,133}</string>
			</dict>
			<key>A_Home/Main/zhanji.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,928},{117,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,61}</string>
			</dict>
			<key>A_Home/Main/game_gonggao.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,928},{117,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,61}</string>
			</dict>
			<key>A_Home/Main/game_shiming.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,2},{117,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{117,61}</string>
			</dict>
			<key>A_Home/Main/head_lb_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,954},{198,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{198,51}</string>
			</dict>
			<key>A_Home/Main/laba_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,603},{39,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,34}</string>
			</dict>
			<key>A_Home/Main/btn_shenhe.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,123},{84,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,83}</string>
			</dict>
			<key>A_Home/Main/girl_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{422,658}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{422,658}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Home.png</string>
			<key>realTextureFileName</key>
			<string>Home.png</string>
			<key>size</key>
			<string>{1021,1021}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1021</integer>
			<key>height</key>
			<integer>1021</integer>
		</dict>
	</dict>
</plist>