<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BtnRule.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,1526},{65,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,71}}</string>
                <key>sourceSize</key>
                <string>{65,71}</string>
            </dict>
            <key>ChangeTable.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1499},{196,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,82}}</string>
                <key>sourceSize</key>
                <string>{196,82}</string>
            </dict>
            <key>btnCopy.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1668},{195,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,82}}</string>
                <key>sourceSize</key>
                <string>{195,82}</string>
            </dict>
            <key>btnExit.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1329},{196,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,83}}</string>
                <key>sourceSize</key>
                <string>{196,83}</string>
            </dict>
            <key>btnReady.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,1329},{195,83}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,83}}</string>
                <key>sourceSize</key>
                <string>{195,85}</string>
            </dict>
            <key>btnReady2.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1583},{195,83}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,83}}</string>
                <key>sourceSize</key>
                <string>{195,85}</string>
            </dict>
            <key>btnShare.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1752},{196,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,82}}</string>
                <key>sourceSize</key>
                <string>{196,82}</string>
            </dict>
            <key>btn_bhall_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,1427},{196,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,82}}</string>
                <key>sourceSize</key>
                <string>{196,82}</string>
            </dict>
            <key>btn_nextGame_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,1511},{196,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,82}}</string>
                <key>sourceSize</key>
                <string>{196,82}</string>
            </dict>
            <key>btn_share_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1833},{275,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,83}}</string>
                <key>sourceSize</key>
                <string>{275,83}</string>
            </dict>
            <key>cancelBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{1280,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,245}}</string>
                <key>sourceSize</key>
                <string>{1280,245}</string>
            </dict>
            <key>cancelTuoGuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1831},{196,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,82}}</string>
                <key>sourceSize</key>
                <string>{196,82}</string>
            </dict>
            <key>dn_order_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,1728},{107,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,107}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>dss_cardnum.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,1847},{84,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,34}}</string>
                <key>sourceSize</key>
                <string>{84,34}</string>
            </dict>
            <key>endBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1329},{309,502}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,502}}</string>
                <key>sourceSize</key>
                <string>{309,502}</string>
            </dict>
            <key>endBgS.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,1329},{307,500}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,500}}</string>
                <key>sourceSize</key>
                <string>{309,502}</string>
            </dict>
            <key>endBtnCopy.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1414},{196,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,83}}</string>
                <key>sourceSize</key>
                <string>{196,83}</string>
            </dict>
            <key>endBtnShare.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,1836},{196,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,82}}</string>
                <key>sourceSize</key>
                <string>{196,82}</string>
            </dict>
            <key>heng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,1427},{164,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,2}}</string>
                <key>sourceSize</key>
                <string>{164,2}</string>
            </dict>
            <key>lixian.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,1728},{113,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,66}}</string>
                <key>sourceSize</key>
                <string>{113,66}</string>
            </dict>
            <key>oneMoreGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,1595},{196,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,82}}</string>
                <key>sourceSize</key>
                <string>{196,82}</string>
            </dict>
            <key>other_game_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,2},{1280,224}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,224}}</string>
                <key>sourceSize</key>
                <string>{1280,278}</string>
            </dict>
            <key>other_hutip.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,1837},{49,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,54}}</string>
                <key>sourceSize</key>
                <string>{49,54}</string>
            </dict>
            <key>other_mix_summary.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,1679},{171,47}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,47}}</string>
                <key>sourceSize</key>
                <string>{171,49}</string>
            </dict>
            <key>other_mytou_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,1284},{196,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,141}}</string>
                <key>sourceSize</key>
                <string>{196,141}</string>
            </dict>
            <key>other_total_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,1805},{103,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,40}}</string>
                <key>sourceSize</key>
                <string>{103,40}</string>
            </dict>
            <key>other_win_player_image.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,1595},{74,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,103}}</string>
                <key>sourceSize</key>
                <string>{74,103}</string>
            </dict>
            <key>overBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,630}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,630}}</string>
                <key>sourceSize</key>
                <string>{1280,630}</string>
            </dict>
            <key>phz_icon_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,1833},{99,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,81}}</string>
                <key>sourceSize</key>
                <string>{99,81}</string>
            </dict>
            <key>player_blue_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,1700},{102,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,103}}</string>
                <key>sourceSize</key>
                <string>{102,103}</string>
            </dict>
            <key>ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,1888},{70,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,40}}</string>
                <key>sourceSize</key>
                <string>{70,40}</string>
            </dict>
            <key>tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,2},{1280,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,6}}</string>
                <key>sourceSize</key>
                <string>{1280,6}</string>
            </dict>
            <key>tipBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1284},{913,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{913,43}}</string>
                <key>sourceSize</key>
                <string>{913,43}</string>
            </dict>
            <key>totalScore.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,1906},{24,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,69}}</string>
                <key>sourceSize</key>
                <string>{24,69}</string>
            </dict>
            <key>tuoGuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,1843},{64,33}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,19},{64,33}}</string>
                <key>sourceSize</key>
                <string>{74,75}</string>
            </dict>
            <key>userBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,1837},{113,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,67}}</string>
                <key>sourceSize</key>
                <string>{113,67}</string>
            </dict>
            <key>zhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,1878},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Desk.png</string>
            <key>size</key>
            <string>{1115,1934}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3418302b74881837bd6c9f81fc3be0d4:7e9d8a912c82f6072e0e6f6362183671:64d69bd64407fb54c91dd3850258b6ac$</string>
            <key>textureFileName</key>
            <string>Desk.png</string>
        </dict>
    </dict>
</plist>
