<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lord_anim_spring_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{612,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,312}}</string>
                <key>sourceSize</key>
                <string>{612,312}</string>
            </dict>
            <key>lord_anim_spring_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{612,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,312}}</string>
                <key>sourceSize</key>
                <string>{612,312}</string>
            </dict>
            <key>lord_anim_spring_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,2},{612,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,312}}</string>
                <key>sourceSize</key>
                <string>{612,312}</string>
            </dict>
            <key>lord_anim_spring_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{612,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,312}}</string>
                <key>sourceSize</key>
                <string>{612,312}</string>
            </dict>
            <key>lord_anim_spring_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,316},{612,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,312}}</string>
                <key>sourceSize</key>
                <string>{612,312}</string>
            </dict>
            <key>lord_anim_spring_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,316},{612,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,312}}</string>
                <key>sourceSize</key>
                <string>{612,312}</string>
            </dict>
            <key>lord_anim_spring_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,630},{612,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,312}}</string>
                <key>sourceSize</key>
                <string>{612,312}</string>
            </dict>
            <key>lord_anim_spring_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,630},{612,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,312}}</string>
                <key>sourceSize</key>
                <string>{612,312}</string>
            </dict>
            <key>lord_anim_spring_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,630},{612,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,312}}</string>
                <key>sourceSize</key>
                <string>{612,312}</string>
            </dict>
            <key>lord_anim_spring_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,944},{612,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,312}}</string>
                <key>sourceSize</key>
                <string>{612,312}</string>
            </dict>
            <key>lord_anim_spring_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,944},{612,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,312}}</string>
                <key>sourceSize</key>
                <string>{612,312}</string>
            </dict>
            <key>lord_anim_spring_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,944},{612,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,312}}</string>
                <key>sourceSize</key>
                <string>{612,312}</string>
            </dict>
            <key>lord_anim_spring_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1258},{612,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,312}}</string>
                <key>sourceSize</key>
                <string>{612,312}</string>
            </dict>
            <key>lord_anim_spring_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1258},{612,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,312}}</string>
                <key>sourceSize</key>
                <string>{612,312}</string>
            </dict>
            <key>lord_anim_spring_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,1258},{612,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,312}}</string>
                <key>sourceSize</key>
                <string>{612,312}</string>
            </dict>
            <key>lord_anim_spring_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1572},{612,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,312}}</string>
                <key>sourceSize</key>
                <string>{612,312}</string>
            </dict>
            <key>lord_anim_spring_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1572},{612,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,312}}</string>
                <key>sourceSize</key>
                <string>{612,312}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chuntian.png</string>
            <key>size</key>
            <string>{1844,1886}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:102b2c6ae56600f041976fb8cea6b34c$</string>
            <key>textureFileName</key>
            <string>chuntian.png</string>
        </dict>
    </dict>
</plist>
