<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_tonghuashun_PDK_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{64,54}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,151},{64,54}}</string>
                <key>sourceSize</key>
                <string>{400,360}</string>
            </dict>
            <key>img_tonghuashun_PDK_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1134},{134,174}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,94},{134,174}}</string>
                <key>sourceSize</key>
                <string>{400,360}</string>
            </dict>
            <key>img_tonghuashun_PDK_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1390},{324,236}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,61},{324,236}}</string>
                <key>sourceSize</key>
                <string>{400,360}</string>
            </dict>
            <key>img_tonghuashun_PDK_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,896},{314,246}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,55},{314,246}}</string>
                <key>sourceSize</key>
                <string>{400,360}</string>
            </dict>
            <key>img_tonghuashun_PDK_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{330,256}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,51},{330,256}}</string>
                <key>sourceSize</key>
                <string>{400,360}</string>
            </dict>
            <key>img_tonghuashun_PDK_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,890},{142,242}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,57},{142,242}}</string>
                <key>sourceSize</key>
                <string>{400,360}</string>
            </dict>
            <key>img_tonghuashun_PDK_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1270},{156,138}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,109},{156,138}}</string>
                <key>sourceSize</key>
                <string>{400,360}</string>
            </dict>
            <key>img_tonghuashun_PDK_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,330},{124,208}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,75},{124,208}}</string>
                <key>sourceSize</key>
                <string>{400,360}</string>
            </dict>
            <key>img_tonghuashun_PDK_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,638},{154,250}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,53},{154,250}}</string>
                <key>sourceSize</key>
                <string>{400,360}</string>
            </dict>
            <key>img_tonghuashun_PDK_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1410},{300,226}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,66},{300,226}}</string>
                <key>sourceSize</key>
                <string>{400,360}</string>
            </dict>
            <key>img_tonghuashun_PDK_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1144},{314,244}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,56},{314,244}}</string>
                <key>sourceSize</key>
                <string>{400,360}</string>
            </dict>
            <key>img_tonghuashun_PDK_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{380,326}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{380,326}}</string>
                <key>sourceSize</key>
                <string>{400,360}</string>
            </dict>
            <key>img_tonghuashun_PDK_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{376,306}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,26},{376,306}}</string>
                <key>sourceSize</key>
                <string>{400,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tonghuashunAni_PDK.png</string>
            <key>size</key>
            <string>{506,1716}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33740a2bf7601366b9c901fabcf2f9d2$</string>
            <key>textureFileName</key>
            <string>tonghuashunAni_PDK.png</string>
        </dict>
    </dict>
</plist>
