<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>begintx_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,821},{189,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,189}}</string>
                <key>sourceSize</key>
                <string>{189,189}</string>
            </dict>
            <key>begintx_cow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{265,155}}</string>
                <key>offset</key>
                <string>{53,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,2},{265,155}}</string>
                <key>sourceSize</key>
                <string>{371,171}</string>
            </dict>
            <key>begintx_cow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,505},{295,157}}</string>
                <key>offset</key>
                <string>{32,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,3},{295,157}}</string>
                <key>sourceSize</key>
                <string>{371,171}</string>
            </dict>
            <key>begintx_cow_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,203},{325,165}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,2},{325,165}}</string>
                <key>sourceSize</key>
                <string>{371,171}</string>
            </dict>
            <key>begintx_cow_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{361,169}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{361,169}}</string>
                <key>sourceSize</key>
                <string>{371,171}</string>
            </dict>
            <key>begintx_cow_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{333,167}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,2},{333,167}}</string>
                <key>sourceSize</key>
                <string>{371,171}</string>
            </dict>
            <key>begintx_cow_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{307,161}}</string>
                <key>offset</key>
                <string>{21,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,3},{307,161}}</string>
                <key>sourceSize</key>
                <string>{371,171}</string>
            </dict>
            <key>begintx_cow_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,530},{289,157}}</string>
                <key>offset</key>
                <string>{38,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,2},{289,157}}</string>
                <key>sourceSize</key>
                <string>{371,171}</string>
            </dict>
            <key>begintx_cow_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{265,155}}</string>
                <key>offset</key>
                <string>{53,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,2},{265,155}}</string>
                <key>sourceSize</key>
                <string>{371,171}</string>
            </dict>
            <key>begintx_lbl.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,2},{199,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,133}}</string>
                <key>sourceSize</key>
                <string>{199,133}</string>
            </dict>
            <key>poker_sg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,342},{39,14}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,8},{39,14}}</string>
                <key>sourceSize</key>
                <string>{97,34}</string>
            </dict>
            <key>poker_sg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,505},{73,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{73,34}}</string>
                <key>sourceSize</key>
                <string>{97,34}</string>
            </dict>
            <key>poker_sg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,664},{85,28}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{85,28}}</string>
                <key>sourceSize</key>
                <string>{97,34}</string>
            </dict>
            <key>poker_sg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,580},{97,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{97,32}}</string>
                <key>sourceSize</key>
                <string>{97,34}</string>
            </dict>
            <key>poker_sg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,679},{87,30}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{87,30}}</string>
                <key>sourceSize</key>
                <string>{97,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_plist_1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8eeb06fdbfd52675a83763edeb16575a$</string>
            <key>textureFileName</key>
            <string>tx_plist_1.png</string>
        </dict>
    </dict>
</plist>
