<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bb1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{66,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{889,83},{66,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bb2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{891,1},{66,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bb3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{951,165},{66,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bb4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{66,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{957,83},{66,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bb5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{66,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{959,1},{66,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bb6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{66,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1019,165},{66,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daku1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{80,72}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{225,179},{80,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daku2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{80,72}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{225,179},{80,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daku3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{80,72}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{307,179},{80,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daku4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{76,72}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1203,161},{76,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>daku5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{80,72}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{389,179},{80,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daku6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{76,72}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1253,81},{76,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fennu_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{401,90},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fennu_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{471,172},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fennu_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{481,1},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fennu_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{483,83},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fennu_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{401,90},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fennu_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{483,83},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fennu_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{563,1},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fennu_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{553,165},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fennu_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{80,76}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{799,165},{80,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fennu_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{565,83},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fennu_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{80,76}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{811,83},{80,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guzhang1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{645,1},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guzhang2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{635,165},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kaiqiang1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{647,83},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kaiqiang2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{74,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1,179},{74,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kaiqiang3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{727,1},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kaiqiang4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{717,165},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kaiqiang5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{729,83},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kaiqiang6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{877,165},{72,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kaiqiang7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{809,1},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kaixin1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{58,72}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1375,1},{58,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kaixin2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{50,70}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1277,159},{50,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kaixin3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{58,72}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1375,75},{58,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kaixin4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{50,70}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1329,149},{50,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kaixin5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{68,74}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{155,179},{68,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kaixin6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{74,70}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{83,179},{74,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kaixin7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{76,72}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1301,1},{76,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keshui1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{87,78}</string>
                <key>spriteSourceSize</key>
                <string>{91,80}</string>
                <key>textureRect</key>
                <string>{{1,1},{87,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keshui10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{87,78}</string>
                <key>spriteSourceSize</key>
                <string>{91,80}</string>
                <key>textureRect</key>
                <string>{{1,90},{87,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keshui11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{87,78}</string>
                <key>spriteSourceSize</key>
                <string>{91,80}</string>
                <key>textureRect</key>
                <string>{{81,1},{87,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keshui2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{87,78}</string>
                <key>spriteSourceSize</key>
                <string>{91,80}</string>
                <key>textureRect</key>
                <string>{{81,90},{87,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keshui3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{87,78}</string>
                <key>spriteSourceSize</key>
                <string>{91,80}</string>
                <key>textureRect</key>
                <string>{{161,1},{87,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keshui4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{87,78}</string>
                <key>spriteSourceSize</key>
                <string>{91,80}</string>
                <key>textureRect</key>
                <string>{{161,90},{87,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keshui5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{87,78}</string>
                <key>spriteSourceSize</key>
                <string>{91,80}</string>
                <key>textureRect</key>
                <string>{{241,1},{87,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keshui6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{87,78}</string>
                <key>spriteSourceSize</key>
                <string>{91,80}</string>
                <key>textureRect</key>
                <string>{{241,90},{87,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keshui7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{87,78}</string>
                <key>spriteSourceSize</key>
                <string>{91,80}</string>
                <key>textureRect</key>
                <string>{{321,1},{87,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keshui8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{87,78}</string>
                <key>spriteSourceSize</key>
                <string>{91,80}</string>
                <key>textureRect</key>
                <string>{{321,90},{87,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keshui9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{87,78}</string>
                <key>spriteSourceSize</key>
                <string>{91,80}</string>
                <key>textureRect</key>
                <string>{{401,1},{87,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pp1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{56,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1133,1},{56,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pp2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{56,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1087,163},{56,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pp3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{56,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1143,81},{56,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pp4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{58,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1083,83},{58,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pp5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{56,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1191,1},{56,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pp6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{56,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1145,161},{56,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tuxue1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{50,70}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1381,149},{50,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tuxue2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{52,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1027,1},{52,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tuxue3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{56,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1025,83},{56,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tuxue4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{50,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1081,1},{50,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tuxue5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{50,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1201,81},{50,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tuxue6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{50,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1249,1},{50,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tuxue7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-23}</string>
                <key>spriteSize</key>
                <string>{50,34}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1327,79},{50,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tuxue8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-30}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1277,231},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tuxue9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-33}</string>
                <key>spriteSize</key>
                <string>{26,14}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1203,239},{26,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>emoji.png</string>
            <key>size</key>
            <string>{1434,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd011d119a88b7b1009f2f966b12bfa1:1794eae2a9b138de4da81d447e82833f:4ec14ac0cf4724fb75b15ad0d1f4335a$</string>
            <key>textureFileName</key>
            <string>emoji.png</string>
        </dict>
    </dict>
</plist>
