<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>title_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,360},{652,358}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{308,183},{652,358}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>title_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{652,352}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{310,184},{652,352}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>title_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,1448},{652,368}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{311,171},{652,368}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>title_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1442},{652,368}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{311,171},{652,368}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>title_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,1082},{652,364}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{311,174},{652,364}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>title_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{652,356}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{311,181},{652,356}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>title_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{652,340}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{310,195},{652,340}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>title_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,2},{652,356}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{310,183},{652,356}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>title_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,356},{652,358}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{309,183},{652,358}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>title_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,716},{654,358}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{308,183},{654,358}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>title_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,360},{652,358}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{308,183},{652,358}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>title_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{648,358}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{312,183},{648,358}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>title_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,720},{652,360}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{308,181},{652,360}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>title_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1076},{650,362}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{312,177},{650,362}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>title_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,1076},{652,364}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{310,175},{652,364}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>title_ani.png</string>
            <key>size</key>
            <string>{1964,1818}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0cc5bf4430cb15541af2818da4da6f57$</string>
            <key>textureFileName</key>
            <string>title_ani.png</string>
        </dict>
    </dict>
</plist>
