<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiaoniao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,38},{30,14}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{30,14}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,38},{30,16}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{30,16}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{30,16}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{30,16}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,46},{30,16}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{30,16}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,38},{30,16}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{30,16}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,20},{30,16}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{30,16}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,20},{30,16}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{30,16}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,20},{30,16}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{30,16}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,20},{30,16}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{30,16}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{30,16}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{30,16}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,28},{30,16}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{30,16}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,14}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{32,14}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,28},{30,16}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{30,16}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,20},{30,16}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{30,16}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,62},{28,16}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{28,16}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,64},{26,18}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{26,18}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{24,18}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{24,18}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,108},{20,18}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{20,18}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,114},{16,20}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,140},{18,18}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{18,18}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,88},{22,16}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{22,16}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,72},{26,10}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{26,10}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{30,16}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{30,16}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,54},{30,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{30,8}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,50},{30,10}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,16},{30,10}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,72},{26,14}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,15},{26,14}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,122},{20,16}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{20,16}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,160},{18,16}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{18,16}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,140},{16,16}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{16,16}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,140},{16,16}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{16,16}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,114},{16,16}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{16,16}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,126},{18,14}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{18,14}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,100},{18,14}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,15},{18,14}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{30,16}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{30,16}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,76},{22,12}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{22,12}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,100},{26,12}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,15},{26,12}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,38},{30,10}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,16},{30,10}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{32,6}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{32,6}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,74},{28,10}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{28,10}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,94},{26,12}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{26,12}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,84},{22,16}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{22,16}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,122},{18,18}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{18,18}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{16,18}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{16,18}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{16,20}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,38},{30,14}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{30,14}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{18,18}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{18,18}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,106},{20,18}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{20,18}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,64},{24,14}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{24,14}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,62},{28,10}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{28,10}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,56},{28,6}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{28,6}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,38},{30,10}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,16},{30,10}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,86},{26,12}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{26,12}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,96},{22,16}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{22,16}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,158},{18,16}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,15},{18,16}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,152},{18,16}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{18,16}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{30,16}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{30,16}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,128},{16,16}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{16,16}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,114},{16,16}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{16,16}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,114},{16,16}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{16,16}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,126},{18,14}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{18,14}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,100},{18,14}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,15},{18,14}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,76},{22,12}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{22,12}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,100},{26,12}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,15},{26,12}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,38},{30,10}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,16},{30,10}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{32,6}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{32,6}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,74},{28,10}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{28,10}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{30,16}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{30,16}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,80},{26,12}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{26,12}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,84},{22,16}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{22,16}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,140},{18,18}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{18,18}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,138},{18,18}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{18,18}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,102},{16,20}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,100},{16,20}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_76.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{16,20}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_77.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,84},{16,20}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_78.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,132},{18,18}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{18,18}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_79.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,120},{18,18}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{18,18}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,18},{30,16}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{30,16}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_80.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{18,18}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{18,18}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,120},{18,18}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{18,18}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_82.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,118},{18,18}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{18,18}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_83.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,102},{20,18}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{20,18}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_84.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,100},{20,18}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{20,18}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_85.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,80},{22,18}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{22,18}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_86.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,76},{22,18}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{22,18}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_87.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,64},{24,18}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{24,18}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_88.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{24,18}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{24,18}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_89.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,56},{26,18}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{26,18}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,10},{30,16}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{30,16}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_90.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,22},{26,18}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{26,18}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_91.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,42},{28,18}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{28,18}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_92.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,54},{28,16}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{28,16}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xiaoniao_93.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{30,16}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{30,16}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xiaoniao0.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2319ed907f8ba5216cfd0e88d44ba3e3:0b4615d0d1de3e12fc66ec2b900cf04f:88e9d42ecffbdaa580a57581c3b9b28a$</string>
            <key>textureFileName</key>
            <string>xiaoniao0.png</string>
        </dict>
    </dict>
</plist>
