<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiaoxiaoniao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,19},{33,15}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{33,15}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,55},{31,17}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{31,17}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,40},{31,17}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{31,17}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,40},{31,17}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{31,17}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,40},{31,17}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{31,17}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{31,17}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{31,17}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,51},{31,17}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{31,17}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,43},{31,17}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{31,17}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,36},{31,17}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{31,17}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,21},{31,17}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{31,17}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,21},{31,17}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{31,17}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{33,15}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{33,15}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,21},{31,17}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{31,17}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,21},{31,17}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{31,17}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,59},{29,17}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{29,17}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,79},{27,19}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{27,19}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,87},{25,19}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{25,19}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{21,19}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{21,19}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,177},{17,21}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{17,21}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,196},{19,19}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{19,19}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,162},{21,17}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{21,17}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{27,11}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{27,11}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,2},{33,15}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{33,15}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,32},{33,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{33,9}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,19},{33,11}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,17},{33,11}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,83},{27,17}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{27,17}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,150},{21,17}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,17},{21,17}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,181},{19,19}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,16},{19,19}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,154},{17,19}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,16},{17,19}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,142},{17,19}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,16},{17,19}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,129},{17,19}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,16},{17,19}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,211},{19,17}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,17},{19,17}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{21,15}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,17},{21,15}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,62},{31,15}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{31,15}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{23,15}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{23,15}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,59},{29,13}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,17},{29,13}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,19},{33,11}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,17},{33,11}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,2},{33,7}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{33,7}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,70},{31,11}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{31,11}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,78},{27,13}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{27,13}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,133},{23,15}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{23,15}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,114},{21,19}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{21,19}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,112},{19,21}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{19,21}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,108},{17,21}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{17,21}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,2},{33,17}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{33,17}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,169},{19,19}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{19,19}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,99},{21,19}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{21,19}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,95},{25,15}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{25,15}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,74},{29,11}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{29,11}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,37},{31,7}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,14},{31,7}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,19},{33,11}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,17},{33,11}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,102},{27,15}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{27,15}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,119},{23,17}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,17},{23,17}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,152},{19,19}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,16},{19,19}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,133},{19,19}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{19,19}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{33,17}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{33,17}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,230},{17,19}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{17,19}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{17,19}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{17,19}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,129},{17,19}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,16},{17,19}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,211},{19,17}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,17},{19,17}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{21,15}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,17},{21,15}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{23,15}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{23,15}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,59},{29,13}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,17},{29,13}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,19},{33,11}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,17},{33,11}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,2},{33,7}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{33,7}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,70},{31,11}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{31,11}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{33,15}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{33,15}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,79},{27,13}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{27,13}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,133},{23,15}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{23,15}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{21,19}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{21,19}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,121},{19,19}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{19,19}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{19,21}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{19,21}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,156},{19,21}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{19,21}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_76.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,141},{19,21}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{19,21}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_77.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,129},{19,21}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{19,21}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_78.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{19,21}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{19,21}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_79.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,135},{19,21}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{19,21}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,2},{33,17}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{33,17}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_80.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,120},{19,21}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{19,21}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,108},{19,21}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{19,21}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_82.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,131},{19,19}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{19,19}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_83.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,93},{21,19}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{21,19}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_84.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,70},{21,19}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{21,19}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_85.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,108},{23,19}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{23,19}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_86.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,100},{23,19}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{23,19}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_87.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,78},{25,19}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{25,19}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_88.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,112},{25,19}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{25,19}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_89.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,91},{25,19}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{25,19}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{33,17}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{33,17}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_90.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,74},{27,19}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{27,19}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_91.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{29,19}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{29,19}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_92.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,59},{29,17}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{29,17}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xiaoxiaoniao_93.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,32},{31,17}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{31,17}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xiaoniao1.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:267ad87233658f7ad30d478b7b3fdb92:3eff0b9ca39f8ff98bf13433f1135139:b96eecd42e5cad41abacf5c6b259d6aa$</string>
            <key>textureFileName</key>
            <string>xiaoniao1.png</string>
        </dict>
    </dict>
</plist>
