<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>0-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>0-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>0-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>0-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,126},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>0-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,250},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>0-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>0-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,126},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>0-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,250},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>0-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>0-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,126},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>0-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>0-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,126},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,250},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>1-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>1-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,126},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>1-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,250},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>1-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,126},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,250},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>1-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>1-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,126},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>1-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>1-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,126},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>1-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,250},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>1-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,2},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,126},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>2-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,250},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>2-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,2},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>2-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,126},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>2-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,250},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,2},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,126},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>2-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,2},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>2-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,126},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>2-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,250},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>2-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,2},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>2-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,126},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>2-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,250},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,2},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>3-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,126},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>3-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,250},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>3-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,2},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>3-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,126},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>3-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,2},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>3-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,126},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>3-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,250},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>3-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1566,2},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>3-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1566,126},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>3-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,250},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>3-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,2},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>3-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,126},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>4-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,250},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>YZDN_card_enable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,2},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,126},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Card.png</string>
            <key>size</key>
            <string>{1862,342}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd3a3617c0f20c7c362f1c688f3573a6:f6d44260d193bb4fea60d62bff0525e7:7a604e4d094c5c24f2d2baa176a2f6c3$</string>
            <key>textureFileName</key>
            <string>Card.png</string>
        </dict>
    </dict>
</plist>
