<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>A_FriendCard/Main/btn_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,943},{50,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>A_FriendCard/Main/btn_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,1155},{180,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,87}</string>
			</dict>
			<key>A_FriendCard/Main/btn_black_list_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,280},{143,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,52}</string>
			</dict>
			<key>A_FriendCard/Main/btn_black_list_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,427},{143,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,52}</string>
			</dict>
			<key>A_FriendCard/Main/btn_sousuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,551},{59,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,60}</string>
			</dict>
			<key>A_FriendCard/Main/btn_xian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,2},{175,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{175,2}</string>
			</dict>
			<key>A_FriendCard/Main/img_dikuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,487},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>A_FriendCard/Main/img_fangka.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,1325},{60,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,48}</string>
			</dict>
			<key>A_FriendCard/Main/img_feixuanzhongMem.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,1113},{38,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,32}</string>
			</dict>
			<key>A_FriendCard/Main/img_hengxian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1012,2},{811,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{811,1}</string>
			</dict>
			<key>A_FriendCard/Main/img_qian.png</key>
			<dict>
				<key>frame</key>
				<string>{{971,1155},{37,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,50}</string>
			</dict>
			<key>A_FriendCard/Main/img_sanjiao1.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,1377},{24,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,15}</string>
			</dict>
			<key>A_FriendCard/Main/img_xian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1012,817},{427,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{427,1}</string>
			</dict>
			<key>A_FriendCard/Main/img_ZTKF.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,871},{92,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,81}</string>
			</dict>
			<key>A_FriendCard/Main/info_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,2},{995,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{995,85}</string>
			</dict>
			<key>A_FriendCard/Main/JianTou.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,1377},{54,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,19}</string>
			</dict>
			<key>A_FriendCard/Main/left_chooseed_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,726},{253,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{253,81}</string>
			</dict>
			<key>A_FriendCard/Main/left_notchooseed_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,726},{253,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{253,81}</string>
			</dict>
			<key>A_FriendCard/Main/list_cell_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1248},{1007,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1007,73}</string>
			</dict>
			<key>A_FriendCard/Main/Main_bg_clubList.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{274,720}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{274,720}</string>
			</dict>
			<key>A_FriendCard/Main/Main_bg_clubList_tit.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,871},{117,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{117,41}</string>
			</dict>
			<key>A_FriendCard/Main/Main_btn_createQYQ.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1325},{217,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,66}</string>
			</dict>
			<key>A_FriendCard/Main/Main_btn_detail_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,615},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>
			<key>A_FriendCard/Main/Main_btn_fanhui.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,487},{77,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,65}</string>
			</dict>
			<key>A_FriendCard/Main/Main_btn_guanli.png</key>
			<dict>
				<key>frame</key>
				<string>{{943,1001},{150,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,51}</string>
			</dict>
			<key>A_FriendCard/Main/Main_btn_join_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1155},{307,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{307,76}</string>
			</dict>
			<key>A_FriendCard/Main/Main_btn_joinQYQ.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,1325},{217,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,66}</string>
			</dict>
			<key>A_FriendCard/Main/Main_btn_kaifang_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,1091},{150,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,51}</string>
			</dict>
			<key>A_FriendCard/Main/Main_btn_memberlist_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,1091},{150,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,51}</string>
			</dict>
			<key>A_FriendCard/Main/Main_btn_record_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,280},{150,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,51}</string>
			</dict>
			<key>A_FriendCard/Main/Main_btn_record2_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,434},{150,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,51}</string>
			</dict>
			<key>A_FriendCard/Main/Main_btn_rule_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,588},{150,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,51}</string>
			</dict>
			<key>A_FriendCard/Main/Main_btn_search.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,673},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>A_FriendCard/Main/Main_btn_showClubList.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,673},{49,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,139}</string>
			</dict>
			<key>A_FriendCard/Main/Main_btn_showClubList_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{823,1113},{29,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,29}</string>
			</dict>
			<key>A_FriendCard/Main/Main_btn_showClubList_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,1113},{29,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,29}</string>
			</dict>
			<key>A_FriendCard/Main/Main_btn_skin.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,742},{150,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,51}</string>
			</dict>
			<key>A_FriendCard/Main/Main_btn_tongji_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,618},{150,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,51}</string>
			</dict>
			<key>A_FriendCard/Main/Main_club_point.png</key>
			<dict>
				<key>frame</key>
				<string>{{971,1209},{31,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,31}</string>
			</dict>
			<key>A_FriendCard/Main/Main_dikuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,1325},{248,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,48}</string>
			</dict>
			<key>A_FriendCard/Main/Main_fangka_kuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,896},{48,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,43}</string>
			</dict>
			<key>A_FriendCard/Main/Main_fangkashuliang_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,1113},{105,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,26}</string>
			</dict>
			<key>A_FriendCard/Main/Main_icon_stop_tishi.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1001},{784,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{784,86}</string>
			</dict>
			<key>A_FriendCard/Main/Main_icon_tipPoint.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,1001},{149,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,108}</string>
			</dict>
			<key>A_FriendCard/Main/tc_bg_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,2},{193,720}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{193,720}</string>
			</dict>
			<key>A_FriendCard/Main/tc_bg_nei.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,1091},{273,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,139}</string>
			</dict>
			<key>A_FriendCard/Main/tianjiawanfa_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,574},{142,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,51}</string>
			</dict>
			<key>A_FriendCard/Main/tianjiawanfa_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,629},{142,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,51}</string>
			</dict>
			<key>A_FriendCard/Main/touming_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,280},{180,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,87}</string>
			</dict>
			<key>A_FriendCard/Main/xiugaiwanfa_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,280},{142,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,51}</string>
			</dict>
			<key>A_FriendCard/Main/xiugaiwanfa_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,426},{142,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,51}</string>
			</dict>
			<key>A_FriendCard/Main/XuanZhong0.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,1325},{135,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,66}</string>
			</dict>
			<key>A_FriendCard/Main/XuanZhong1.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,1325},{135,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,66}</string>
			</dict>
			<key>A_FriendCard/Main/XuanZhong2.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,1146},{135,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,66}</string>
			</dict>
			<key>A_FriendCard/Main/yb_txt_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1113},{186,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,34}</string>
			</dict>
			<key>A_FriendCard/Main/yizi_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,280},{56,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,122}</string>
			</dict>
			<key>A_FriendCard/Main/yizi_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,726},{112,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,141}</string>
			</dict>
			<key>A_FriendCard/Main/yizi_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,464},{102,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,150}</string>
			</dict>
			<key>A_FriendCard/Main/Z_offline.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,406},{77,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,77}</string>
			</dict>
			<key>A_FriendCard/Main/zhuozi_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,726},{249,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{249,182}</string>
			</dict>
			<key>A_FriendCard/Main/zhuozi_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,726},{249,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{249,182}</string>
			</dict>
			<key>A_FriendCard/Main/zhuozi_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,726},{249,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{249,182}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>FriendCardMain.png</string>
			<key>realTextureFileName</key>
			<string>FriendCardMain.png</string>
			<key>size</key>
			<string>{1024,1398}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1398</integer>
		</dict>
	</dict>
</plist>