<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>A_FriendCard/btn_bangding_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,782},{113,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,52}</string>
			</dict>
			<key>A_FriendCard/btn_club_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,608},{320,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,93}</string>
			</dict>
			<key>A_FriendCard/btn_club_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,790},{320,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,93}</string>
			</dict>
			<key>A_FriendCard/btn_createQYQ.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,730},{253,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{253,67}</string>
			</dict>
			<key>A_FriendCard/btn_detail_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,887},{74,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,33}</string>
			</dict>
			<key>A_FriendCard/btn_fanhui.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,1472},{75,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,56}</string>
			</dict>
			<key>A_FriendCard/btn_join_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,932},{297,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{297,83}</string>
			</dict>
			<key>A_FriendCard/btn_join_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,657},{297,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{297,83}</string>
			</dict>
			<key>A_FriendCard/btn_joinQYQ.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,657},{253,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{253,69}</string>
			</dict>
			<key>A_FriendCard/btn_memberlist_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,987},{113,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,52}</string>
			</dict>
			<key>A_FriendCard/btn_record_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,1079},{113,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,52}</string>
			</dict>
			<key>A_FriendCard/btn_record2_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,1104},{113,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,52}</string>
			</dict>
			<key>A_FriendCard/btn_rule_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,1115},{113,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,52}</string>
			</dict>
			<key>A_FriendCard/btn_search.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,887},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>A_FriendCard/btn_showClubList.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,360},{138,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,244}</string>
			</dict>
			<key>A_FriendCard/btn_skin.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,1196},{113,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,52}</string>
			</dict>
			<key>A_FriendCard/btn_tongji_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,1232},{113,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,52}</string>
			</dict>
			<key>A_FriendCard/btn_webZhanji.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,854},{163,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{163,43}</string>
			</dict>
			<key>A_FriendCard/btn_xuanzhong.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,653},{143,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,70}</string>
			</dict>
			<key>A_FriendCard/btn_yaoqing.png</key>
			<dict>
				<key>frame</key>
				<string>{{827,1240},{113,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,52}</string>
			</dict>
			<key>A_FriendCard/club_point.png</key>
			<dict>
				<key>frame</key>
				<string>{{991,169},{31,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,31}</string>
			</dict>
			<key>A_FriendCard/dikuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,730},{248,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,48}</string>
			</dict>
			<key>A_FriendCard/fangka_kuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,790},{208,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{208,80}</string>
			</dict>
			<key>A_FriendCard/fangkashuliang_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{991,2},{105,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{105,26}</string>
			</dict>
			<key>A_FriendCard/FenGeXian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1014,111},{8,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,48}</string>
			</dict>
			<key>A_FriendCard/icon_stop_tishi.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,2},{784,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{784,86}</string>
			</dict>
			<key>A_FriendCard/icon_tipPoint.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,1002},{149,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{149,108}</string>
			</dict>
			<key>A_FriendCard/img_fangka.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,1472},{60,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,48}</string>
			</dict>
			<key>A_FriendCard/img_fanhui.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,959},{50,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,116}</string>
			</dict>
			<key>A_FriendCard/img_feixuanzhongMem.png</key>
			<dict>
				<key>frame</key>
				<string>{{991,204},{22,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,19}</string>
			</dict>
			<key>A_FriendCard/img_guanjia.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,887},{32,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,75}</string>
			</dict>
			<key>A_FriendCard/img_head_kuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{927,1233},{81,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,81}</string>
			</dict>
			<key>A_FriendCard/img_qian.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,887},{37,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,50}</string>
			</dict>
			<key>A_FriendCard/img_searchBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,903},{208,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{208,46}</string>
			</dict>
			<key>A_FriendCard/img_ZTKF.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,1144},{92,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,81}</string>
			</dict>
			<key>A_FriendCard/info_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,2},{354,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{354,107}</string>
			</dict>
			<key>A_FriendCard/jifen_kuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,932},{208,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{208,80}</string>
			</dict>
			<key>A_FriendCard/XuanZhong1.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,653},{246,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{246,48}</string>
			</dict>
			<key>A_FriendCard/XuanZhong2.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,608},{242,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{242,44}</string>
			</dict>
			<key>A_FriendCard/yizi_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,1155},{102,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,150}</string>
			</dict>
			<key>A_FriendCard/yizi_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,1309},{102,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,150}</string>
			</dict>
			<key>A_FriendCard/yizi_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,1318},{102,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,150}</string>
			</dict>
			<key>A_FriendCard/yuanbao_kuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{927,1021},{208,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{208,80}</string>
			</dict>
			<key>A_FriendCard/Z_offline.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,782},{77,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,77}</string>
			</dict>
			<key>A_FriendCard/zhuozi_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1021},{246,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{246,250}</string>
			</dict>
			<key>A_FriendCard/zhuozi_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,149},{246,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{246,250}</string>
			</dict>
			<key>A_FriendCard/zhuozi_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,403},{246,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{246,250}</string>
			</dict>
			<key>A_FriendCard/zhuozi_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,149},{246,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{246,250}</string>
			</dict>
			<key>A_FriendCard/zhuozi_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,403},{246,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{246,250}</string>
			</dict>
			<key>A_FriendCard/zhuozi_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,149},{246,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{246,250}</string>
			</dict>
			<key>A_FriendCard/zhuozi_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,399},{246,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{246,250}</string>
			</dict>
			<key>A_FriendCard/zhuozi_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,887},{246,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{246,250}</string>
			</dict>
			<key>A_FriendCard/zhuozi_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,1141},{246,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{246,250}</string>
			</dict>
			<key>A_FriendCard/zhuozi_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1271},{246,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{246,250}</string>
			</dict>
			<key>A_FriendCard/zhuozi_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,1391},{246,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{246,250}</string>
			</dict>
			<key>A_FriendCard/zhuozi_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1521},{246,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{246,250}</string>
			</dict>
			<key>A_FriendCard/btn_kaifang_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{827,1357},{113,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,52}</string>
			</dict>
			<key>A_FriendCard/JianTou.png</key>
			<dict>
				<key>frame</key>
				<string>{{991,111},{54,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,19}</string>
			</dict>
			<key>A_FriendCard/NameBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,727},{228,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,50}</string>
			</dict>
			<key>A_FriendCard/img_isShowZhuozi.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{784,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{784,143}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>FriendCardMain.png</string>
			<key>realTextureFileName</key>
			<string>FriendCardMain.png</string>
			<key>size</key>
			<string>{1024,1769}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1769</integer>
		</dict>
	</dict>
</plist>