<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>A_FriendCard/Guanjia/btn_changeToFangkaClub_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{188,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{188,66}</string>
			</dict>
			<key>A_FriendCard/Guanjia/btn_gaojiset_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,2},{188,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{188,66}</string>
			</dict>
			<key>A_FriendCard/Guanjia/btn_guanlijilv_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,2},{188,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{188,66}</string>
			</dict>
			<key>A_FriendCard/Guanjia/btn_huci_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,2},{188,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{188,66}</string>
			</dict>
			<key>A_FriendCard/Guanjia/btn_set_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,2},{188,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{188,66}</string>
			</dict>
			<key>A_FriendCard/Guanjia/btn_yaoqing_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,2},{188,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{188,66}</string>
			</dict>
			<key>A_FriendCard/Guanjia/checkBox_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,2},{155,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,65}</string>
			</dict>
			<key>A_FriendCard/Guanjia/checkBox_open.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,161},{155,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,65}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Guanjia.png</string>
			<key>realTextureFileName</key>
			<string>Guanjia.png</string>
			<key>size</key>
			<string>{579,228}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>579</integer>
			<key>height</key>
			<integer>228</integer>
		</dict>
	</dict>
</plist>