<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>A_FriendCard/Member/btn_Button_remarks_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btn_Button_remarks_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,2},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btn_caozuo_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,762},{126,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,45}</string>
			</dict>
			<key>A_FriendCard/Member/btn_caozuo_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,763},{126,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,45}</string>
			</dict>
			<key>A_FriendCard/Member/btn_chakanCY_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,2},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btn_chakanCY_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,2},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btn_frozen_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,2},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btn_frozen_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,2},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btn_group_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,79},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btn_group_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,79},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btn_mamager_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,79},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btn_mamager_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,79},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btn_notAdmit_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,156},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btn_notAdmit_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,156},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btn_setgongxian1.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,156},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btn_setgongxian2.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,156},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btn_tichu_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,210},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btn_tichu_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,210},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btn_unfrozen_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,418},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btn_unfrozen_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,233},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btn_unMamager_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,310},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btn_unMamager_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,626},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btn_unZhuli_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,834},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btn_unZhuli_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,911},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btn_zhuli_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,387},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btn_zhuli_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,595},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btna_group_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,387},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btna_unGroup_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,233},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/cy_add_gongxian.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,803},{204,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,72}</string>
			</dict>
			<key>A_FriendCard/Member/cy_add_gongxian1.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,387},{204,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,72}</string>
			</dict>
			<key>A_FriendCard/Member/cy_add_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,233},{204,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,72}</string>
			</dict>
			<key>A_FriendCard/Member/cy_add_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,309},{204,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,72}</string>
			</dict>
			<key>A_FriendCard/Member/cy_daoru_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,595},{204,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,72}</string>
			</dict>
			<key>A_FriendCard/Member/cy_daoru_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,803},{204,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,72}</string>
			</dict>
			<key>A_FriendCard/Member/cy_jujue_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,568},{132,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,54}</string>
			</dict>
			<key>A_FriendCard/Member/cy_jujue_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,568},{132,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,54}</string>
			</dict>
			<key>A_FriendCard/Member/cy_member_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,385},{204,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,72}</string>
			</dict>
			<key>A_FriendCard/Member/cy_member_record_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,233},{204,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,72}</string>
			</dict>
			<key>A_FriendCard/Member/cy_member_record_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,309},{204,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,72}</string>
			</dict>
			<key>A_FriendCard/Member/cy_member_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,385},{204,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,72}</string>
			</dict>
			<key>A_FriendCard/Member/cy_shenhe_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,385},{204,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,72}</string>
			</dict>
			<key>A_FriendCard/Member/cy_shenhe_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,461},{204,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,72}</string>
			</dict>
			<key>A_FriendCard/Member/cy_tongguo_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,626},{132,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,54}</string>
			</dict>
			<key>A_FriendCard/Member/cy_tongguo_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,704},{132,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,54}</string>
			</dict>
			<key>A_FriendCard/Member/cy_zhuli_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,537},{204,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,72}</string>
			</dict>
			<key>A_FriendCard/Member/cy_zhuli_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,613},{204,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,72}</string>
			</dict>
			<key>A_FriendCard/Member/cy_zuzhang_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,689},{204,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,72}</string>
			</dict>
			<key>A_FriendCard/Member/cy_zuzhang_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{823,418},{204,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,72}</string>
			</dict>
			<key>A_FriendCard/Member/userStop.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,626},{36,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,54}</string>
			</dict>
			<key>A_FriendCard/Member/btn_add_again_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,762},{131,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,54}</string>
			</dict>
			<key>A_FriendCard/Member/btn_add_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,593},{166,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{166,61}</string>
			</dict>
			<key>A_FriendCard/Member/btn_add_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,593},{166,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{166,61}</string>
			</dict>
			<key>A_FriendCard/Member/btn_AddOtherClub_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,310},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btn_AddOtherClub_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,595},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btn_admit_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,803},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btn_admit_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,387},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btn_rule_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,418},{146,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{146,52}</string>
			</dict>
			<key>A_FriendCard/Member/btn_rule_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,418},{146,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{146,52}</string>
			</dict>
			<key>A_FriendCard/Member/btn_tick_all_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,595},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btn_tick_all_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,803},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btn_notAdmit2_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,387},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btn_notAdmit2_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,595},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Member.png</string>
			<key>realTextureFileName</key>
			<string>Member.png</string>
			<key>size</key>
			<string>{1013,1009}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1013</integer>
			<key>height</key>
			<integer>1009</integer>
		</dict>
	</dict>
</plist>