<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>A_FriendCard/Member/btn_Button_remarks_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{687,2},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btn_Button_remarks_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,52},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btn_caozuo_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,310},{107,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,53}</string>
			</dict>
			<key>A_FriendCard/Member/btn_chakanCY_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,52},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btn_chakanCY_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,52},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btn_frozen_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,62},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btn_frozen_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,62},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btn_group_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,139},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btn_group_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,216},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btn_mamager_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,129},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btn_mamager_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,206},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btn_notAdmit_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,270},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btn_notAdmit_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,293},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btn_setgongxian1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,370},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btn_setgongxian2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,447},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btn_tichu_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,2},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btn_tichu_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1103,2},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btn_unfrozen_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{1311,2},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btn_unfrozen_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1519,2},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btn_unMamager_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{1727,2},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btn_unMamager_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1935,2},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btn_unZhuli_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,79},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btn_unZhuli_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,79},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btn_zhuli_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{1099,79},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btn_zhuli_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1307,79},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btna_group_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{1515,79},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btna_unGroup_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{1723,79},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/cy_jujue_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{1330,233},{132,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,54}</string>
			</dict>
			<key>A_FriendCard/Member/cy_jujue_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1030,289},{132,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,54}</string>
			</dict>
			<key>A_FriendCard/Member/cy_tongguo_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,303},{132,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,54}</string>
			</dict>
			<key>A_FriendCard/Member/cy_tongguo_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1166,289},{132,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,54}</string>
			</dict>
			<key>A_FriendCard/Member/cy_zhuli_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,260},{204,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,72}</string>
			</dict>
			<key>A_FriendCard/Member/cy_zhuli_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,260},{204,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,72}</string>
			</dict>
			<key>A_FriendCard/Member/cy_zuzhang_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,283},{204,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,72}</string>
			</dict>
			<key>A_FriendCard/Member/cy_zuzhang_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,359},{204,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,72}</string>
			</dict>
			<key>A_FriendCard/Member/userStop.png</key>
			<dict>
				<key>frame</key>
				<string>{{2008,210},{36,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,54}</string>
			</dict>
			<key>A_FriendCard/Member/btn_add_again_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,310},{131,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,54}</string>
			</dict>
			<key>A_FriendCard/Member/btn_add_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,524},{166,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{166,61}</string>
			</dict>
			<key>A_FriendCard/Member/btn_add_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,524},{166,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{166,61}</string>
			</dict>
			<key>A_FriendCard/Member/btn_AddOtherClub_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,156},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btn_AddOtherClub_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,156},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btn_admit_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{1099,156},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btn_admit_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1307,156},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btn_rule_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{1030,233},{146,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,52}</string>
			</dict>
			<key>A_FriendCard/Member/btn_rule_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1180,233},{146,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,52}</string>
			</dict>
			<key>A_FriendCard/Member/btn_tick_all_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{1515,156},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btn_tick_all_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1723,156},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btn_notAdmit2_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{1931,210},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/btn_notAdmit2_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,233},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>A_FriendCard/Member/all_person.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,233},{135,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,66}</string>
			</dict>
			<key>A_FriendCard/Member/btn_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{839,310},{39,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>A_FriendCard/Member/btn_jian.png</key>
			<dict>
				<key>frame</key>
				<string>{{839,353},{39,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>A_FriendCard/Member/btn_zh_paixu.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,435},{186,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,66}</string>
			</dict>
			<key>A_FriendCard/Member/cy_tuichu_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,62},{33,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,27}</string>
			</dict>
			<key>A_FriendCard/Member/list_cell_sort.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,99},{31,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,19}</string>
			</dict>
			<key>A_FriendCard/Member/panel_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{315,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{315,56}</string>
			</dict>
			<key>A_FriendCard/Member/sousuo_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,2},{362,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{362,46}</string>
			</dict>
			<key>A_FriendCard/Member/what_group.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,524},{217,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{217,54}</string>
			</dict>
			<key>A_FriendCard/Member/btn_set_group.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,478},{186,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{186,66}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Member.png</string>
			<key>realTextureFileName</key>
			<string>Member.png</string>
			<key>size</key>
			<string>{2046,743}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2046</integer>
			<key>height</key>
			<integer>743</integer>
		</dict>
	</dict>
</plist>