<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>A_FriendCard/Setting/btn_addRule_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,420},{147,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,54}</string>
			</dict>
			<key>A_FriendCard/Setting/btn_addRule_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,420},{147,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,54}</string>
			</dict>
			<key>A_FriendCard/Setting/btn_chuangjian_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,2},{238,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{238,88}</string>
			</dict>
			<key>A_FriendCard/Setting/btn_chuangjian_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,244},{238,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{238,88}</string>
			</dict>
			<key>A_FriendCard/Setting/btn_rule_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,486},{146,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{146,52}</string>
			</dict>
			<key>A_FriendCard/Setting/btn_rule_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,486},{146,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{146,52}</string>
			</dict>
			<key>A_FriendCard/Setting/btn_save_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,232},{238,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{238,88}</string>
			</dict>
			<key>A_FriendCard/Setting/btn_save_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,232},{238,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{238,88}</string>
			</dict>
			<key>A_FriendCard/Setting/img_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,2},{414,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{414,226}</string>
			</dict>
			<key>A_FriendCard/Setting/img_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,2},{414,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{414,76}</string>
			</dict>
			<key>A_FriendCard/Setting/img_di1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{418,276}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{418,276}</string>
			</dict>
			<key>A_FriendCard/Setting/img_jieshan.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,232},{94,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,22}</string>
			</dict>
			<key>A_FriendCard/Setting/img_wanfaguize.png</key>
			<dict>
				<key>frame</key>
				<string>{{758,232},{349,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{349,29}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Setting.png</string>
			<key>realTextureFileName</key>
			<string>Setting.png</string>
			<key>size</key>
			<string>{1017,634}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1017</integer>
			<key>height</key>
			<integer>634</integer>
		</dict>
	</dict>
</plist>