<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>A_FriendCard/Setting/btn_addRule_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,244},{147,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,54}</string>
			</dict>
			<key>A_FriendCard/Setting/btn_addRule_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,94},{147,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,54}</string>
			</dict>
			<key>A_FriendCard/Setting/btn_chuangjian_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,420},{238,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{238,88}</string>
			</dict>
			<key>A_FriendCard/Setting/btn_chuangjian_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,2},{238,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{238,88}</string>
			</dict>
			<key>A_FriendCard/Setting/btn_rule_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,152},{146,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,52}</string>
			</dict>
			<key>A_FriendCard/Setting/btn_rule_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,152},{146,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{146,52}</string>
			</dict>
			<key>A_FriendCard/Setting/btn_save_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,2},{238,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{238,88}</string>
			</dict>
			<key>A_FriendCard/Setting/btn_save_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,2},{238,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{238,88}</string>
			</dict>
			<key>A_FriendCard/Setting/img_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,2},{414,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{414,226}</string>
			</dict>
			<key>A_FriendCard/Setting/img_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,424},{414,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{414,76}</string>
			</dict>
			<key>A_FriendCard/Setting/img_di1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{418,276}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{418,276}</string>
			</dict>
			<key>A_FriendCard/Setting/img_jieshan.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,355},{94,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,22}</string>
			</dict>
			<key>A_FriendCard/Setting/img_wanfaguize.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,2},{349,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{349,29}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Setting.png</string>
			<key>realTextureFileName</key>
			<string>Setting.png</string>
			<key>size</key>
			<string>{982,510}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>982</integer>
			<key>height</key>
			<integer>510</integer>
		</dict>
	</dict>
</plist>