<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>A_Login/barpoint.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,2},{26,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,43}</string>
			</dict>
			<key>A_Login/btn_login_wx.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,75},{244,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,95}</string>
			</dict>
			<key>A_Login/circle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,120},{36,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,37}</string>
			</dict>
			<key>A_Login/circle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,75},{36,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,37}</string>
			</dict>
			<key>A_Login/CM_inputbox.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,134},{91,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,50}</string>
			</dict>
			<key>A_Login/countman-btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,2},{248,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{248,94}</string>
			</dict>
			<key>A_Login/deng_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,210},{29,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,31}</string>
			</dict>
			<key>A_Login/deng_t.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,75},{41,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,41}</string>
			</dict>
			<key>A_Login/hao_t.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,134},{43,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,44}</string>
			</dict>
			<key>A_Login/hu_t.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,215},{37,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,43}</string>
			</dict>
			<key>A_Login/light.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{891,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{891,38}</string>
			</dict>
			<key>A_Login/lu_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,49},{27,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,30}</string>
			</dict>
			<key>A_Login/lu_t.png</key>
			<dict>
				<key>frame</key>
				<string>{{735,75},{40,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,41}</string>
			</dict>
			<key>A_Login/process.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,44},{883,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{883,27}</string>
			</dict>
			<key>A_Login/que_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,161},{28,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,32}</string>
			</dict>
			<key>A_Login/ren_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,210},{29,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,31}</string>
			</dict>
			<key>A_Login/xie_t.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,182},{41,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,43}</string>
			</dict>
			<key>A_Login/yellow-button.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,75},{187,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,67}</string>
			</dict>
			<key>A_Login/yi_t.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,170},{41,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,41}</string>
			</dict>
			<key>A_Login/yong_t.png</key>
			<dict>
				<key>frame</key>
				<string>{{741,165},{37,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,41}</string>
			</dict>
			<key>A_Login/zhang_t.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,75},{43,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,44}</string>
			</dict>
			<key>A_Login/zhu_t.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,123},{40,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,43}</string>
			</dict>
			<key>A_Login/zuce_t.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,120},{41,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,41}</string>
			</dict>
			<key>A_Login/yijianxiufu.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,146},{198,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{198,55}</string>
			</dict>
			<key>A_Login/yijianxiufu_p.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,75},{198,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{198,55}</string>
			</dict>
			<key>A_Login/z_tongyi.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,174},{326,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{326,43}</string>
			</dict>
			<key>A_Login/z_ysbhzy.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,205},{225,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,35}</string>
			</dict>
			<key>A_Login/agree.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,221},{416,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{416,21}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Login.png</string>
			<key>realTextureFileName</key>
			<string>Login.png</string>
			<key>size</key>
			<string>{1024,254}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>254</integer>
		</dict>
	</dict>
</plist>