<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>A_Login/Main/agree.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,681},{249,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{249,31}</string>
			</dict>
			<key>A_Login/Main/btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,617},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>A_Login/Main/btn_dengl.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,509},{208,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{208,81}</string>
			</dict>
			<key>A_Login/Main/btn_login_wx.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,185},{284,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,100}</string>
			</dict>
			<key>A_Login/Main/btn_zhuc.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,573},{208,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,81}</string>
			</dict>
			<key>A_Login/Main/check_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,681},{37,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,38}</string>
			</dict>
			<key>A_Login/Main/checked_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,681},{37,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,38}</string>
			</dict>
			<key>A_Login/Main/countman-btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,221},{284,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{284,100}</string>
			</dict>
			<key>A_Login/Main/dikuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{705,493}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{705,493}</string>
			</dict>
			<key>A_Login/Main/input_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,221},{456,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{456,57}</string>
			</dict>
			<key>A_Login/Main/loading_bar_head.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,289},{280,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{280,24}</string>
			</dict>
			<key>A_Login/Main/log_check.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,573},{49,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,47}</string>
			</dict>
			<key>A_Login/Main/log_checkbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,624},{49,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,47}</string>
			</dict>
			<key>A_Login/Main/logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,2},{285,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,179}</string>
			</dict>
			<key>A_Login/Main/saog3.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,2},{215,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{215,219}</string>
			</dict>
			<key>A_Login/Main/title_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,221},{194,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{194,51}</string>
			</dict>
			<key>A_Login/Main/title_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,419},{194,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{194,51}</string>
			</dict>
			<key>A_Login/Main/yijianxiufu.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,289},{77,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,77}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Login.png</string>
			<key>realTextureFileName</key>
			<string>Login.png</string>
			<key>size</key>
			<string>{1020,720}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1020</integer>
			<key>height</key>
			<integer>720</integer>
		</dict>
	</dict>
</plist>