<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>A_Login/Main/btn_login_wx.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,2},{244,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,95}</string>
			</dict>
			<key>A_Login/Main/CM_inputbox.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,384},{91,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,50}</string>
			</dict>
			<key>A_Login/Main/countman-btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{248,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,94}</string>
			</dict>
			<key>A_Login/Main/deng_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,468},{29,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,31}</string>
			</dict>
			<key>A_Login/Main/deng_t.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,468},{41,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,41}</string>
			</dict>
			<key>A_Login/Main/hao_t.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,101},{43,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,44}</string>
			</dict>
			<key>A_Login/Main/hu_t.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,468},{37,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,43}</string>
			</dict>
			<key>A_Login/Main/lu_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,468},{27,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,30}</string>
			</dict>
			<key>A_Login/Main/lu_t.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,468},{40,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,41}</string>
			</dict>
			<key>A_Login/Main/xie_t.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,468},{41,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,43}</string>
			</dict>
			<key>A_Login/Main/yi_t.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,468},{41,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,41}</string>
			</dict>
			<key>A_Login/Main/yong_t.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,468},{37,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,41}</string>
			</dict>
			<key>A_Login/Main/zhang_t.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,148},{43,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,44}</string>
			</dict>
			<key>A_Login/Main/zhu_t.png</key>
			<dict>
				<key>frame</key>
				<string>{{49,468},{40,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,43}</string>
			</dict>
			<key>A_Login/Main/zuce_t.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,468},{41,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,41}</string>
			</dict>
			<key>A_Login/Main/yijianxiufu.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,100},{198,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{198,55}</string>
			</dict>
			<key>A_Login/Main/yijianxiufu_p.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,384},{198,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{198,55}</string>
			</dict>
			<key>A_Login/Main/agree.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,443},{416,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{416,21}</string>
			</dict>
			<key>A_Login/Main/loading_bar_head.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,100},{280,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{280,24}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Login.png</string>
			<key>realTextureFileName</key>
			<string>Login.png</string>
			<key>size</key>
			<string>{500,511}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>500</integer>
			<key>height</key>
			<integer>511</integer>
		</dict>
	</dict>
</plist>