<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angle</key>
	<real>-145</real>
	<key>angleVariance</key>
	<real>34</real>
	<key>blendFuncDestination</key>
	<integer>771</integer>
	<key>blendFuncSource</key>
	<integer>1</integer>
	<key>duration</key>
	<real>-1</real>
	<key>emitterType</key>
	<real>0</real>
	<key>finishColorAlpha</key>
	<real>1</real>
	<key>finishColorBlue</key>
	<real>0.8</real>
	<key>finishColorGreen</key>
	<real>0.8</real>
	<key>finishColorRed</key>
	<real>1</real>
	<key>finishColorVarianceAlpha</key>
	<real>0</real>
	<key>finishColorVarianceBlue</key>
	<real>0</real>
	<key>finishColorVarianceGreen</key>
	<real>0</real>
	<key>finishColorVarianceRed</key>
	<real>0</real>
	<key>finishParticleSize</key>
	<real>14</real>
	<key>finishParticleSizeVariance</key>
	<real>4</real>
	<key>gravityx</key>
	<real>0</real>
	<key>gravityy</key>
	<real>-4</real>
	<key>maxParticles</key>
	<real>14</real>
	<key>maxRadius</key>
	<real>0</real>
	<key>maxRadiusVariance</key>
	<real>0</real>
	<key>minRadius</key>
	<real>0</real>
	<key>particleLifespan</key>
	<real>14</real>
	<key>particleLifespanVariance</key>
	<real>0</real>
	<key>radialAccelVariance</key>
	<real>0</real>
	<key>radialAcceleration</key>
	<real>0</real>
	<key>rotatePerSecond</key>
	<real>0</real>
	<key>rotatePerSecondVariance</key>
	<real>0</real>
	<key>rotationEnd</key>
	<real>0</real>
	<key>rotationEndVariance</key>
	<real>0.0</real>
	<key>rotationStart</key>
	<real>0</real>
	<key>rotationStartVariance</key>
	<real>0</real>
	<key>sourcePositionVariancex</key>
	<real>145</real>
	<key>sourcePositionVariancey</key>
	<real>20</real>
	<key>sourcePositionx</key>
	<real>153.9230769230769</real>
	<key>sourcePositiony</key>
	<real>182.4273504273504</real>
	<key>speed</key>
	<real>40</real>
	<key>speedVariance</key>
	<real>5</real>
	<key>startColorAlpha</key>
	<real>1</real>
	<key>startColorBlue</key>
	<real>0.8</real>
	<key>startColorGreen</key>
	<real>0.8</real>
	<key>startColorRed</key>
	<real>1</real>
	<key>startColorVarianceAlpha</key>
	<real>0</real>
	<key>startColorVarianceBlue</key>
	<real>0</real>
	<key>startColorVarianceGreen</key>
	<real>0</real>
	<key>startColorVarianceRed</key>
	<real>0</real>
	<key>startParticleSize</key>
	<real>14</real>
	<key>startParticleSizeVariance</key>
	<real>4</real>
	<key>tangentialAccelVariance</key>
	<real>0</real>
	<key>tangentialAcceleration</key>
	<real>0</real>
	<key>textureFileName</key>
	<string>flowers.png</string>
	<key>textureImageData</key>
	<string>H4sIAAAAAAAAAx2Qa0iTYRTHlwvzWogWNK9BglgfzMBYXvKac7U5VNIPQUokRtZEtKSLooZpSkNCEcVo64uXLlTeUSzcXLp5v0zddO7y6trc3m1u87r39Lx9eP4PD885v///nDoOO9Xbg+ZBoVC80xjJGegORCfEjYp0tbOaTaGcoHFuZ6WgJyxhoMFBpoPNHbDugWEXpEpi7S/s7h+I5aAxgckORhtsW0CsIHViAyaVMK4Ahd45tga4nZjTwpYZRAqQKEG5Q4jXQW2CRQwse8e/V4hZDSHZJOFCOWLCrBopIVGBSE7aaXESuIgRU2owO8C6T9aIFMSUCqwO5EtIVcSfDbIFuSCd1aAaYloF89jRqAz0VpSKkG0T0ySWBBrtYHGgeE4UY/x/EiEKtkl+repgaQtQJQLiDnJSFHvdAHI9ICxqn8dgAo1gRGMqK0KX0XaYJRnsTIqLe9R4EycpJNDNlXpsNqkWRwUfG0q5udnp4YEBNN8zh4cOu81iNu8Y9NuYYmV5Wioe6O/71vFJ0M7jvSx+8iDvbmYCPfLKuRijJxPt3jctOSErbGZqTtxcFeHnmjsUsmLQdSy8wEeyXfjutRE40HxnWfE5z6WO6P7jQaEgNlKyX16zpdR5YfhPm3O4Ler9xY7uSWthouTtl149d+2mTfOuYiQyKSxONhSb8WqwOV2I9xqkqi5+6w8Fo0HbUsoK7nQ7i9Fr5iVxRbZG1ZuB734LT31Otgb1pQy1jVm6C6mp/v7ltZPng54V0Xsq67OafCTe7gv5eQWnGltrb5Vp8PueS9cLMMajlXucyw2L7UXYqUtORfVyT1lhS2jM6QPKhXCCWlnvEjysfvg6kyv4tdTfFRhQx2PNVN/h5+Tr09vLvUTR3CNt1ePiEh7zA2sgb9AUz6RfC60VDitvfD6g12MM/lW0dEpaCjv5a2Ju1T+/rxiAyAIAAA==</string>
</dict>
</plist>
